name: assignment-test

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  full-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          clean: false
          submodules: 'recursive'
      - uses: webfactory/ssh-agent@v0.5.4
        with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: true
        
        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
      - name: Run build
        timeout-minutes: 600
        run: |
          docker run --rm \
            -v $SSH_AUTH_SOCK:/ssh-agent -e SSH_AUTH_SOCK=/ssh-agent \
            -e GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no" \
            -v ${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE} \
            cuaesd/aesd-autotest:assignment6-yocto \
            --workdir=${GITHUB_WORKSPACE} \
            ./build.sh
      - name: Cleanup
        if: always()
        run: |
          ssh-add -D
      - name: Run full test
        timeout-minutes: 15
        run: |
          docker run --rm \
            -v ${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE} \
            cuaesd/aesd-autotest:assignment6-yocto \
            --workdir=${GITHUB_WORKSPACE} \
            ./full-test.sh
